*{
    margin: 0px;
    padding: 0px;
}

.Header{
    height: 1280;
    width: 130;
    position: fixed;
}

.footer{
    height: auto;
    width: auto;
    position: fixed;
}

/* kode css navigator */
ul{
    list-style: none;
    background-color: rgb(253, 255, 232);
    padding: 0px 0px;
    margin: 120px 0px;
    position: fixed;
    width: 1280px;
    height: 60px;
}

ul li{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    padding: 10px 10px;
    text-align: center;
}

ul a:hover{
    background-color: blanchedalmond;
}

/* kode css dropdown */
ul li ul.dropdown{
    background-color: pink;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown{
    display: block;
}

/* kode css side bar */
.column{
    float: left;
    padding: 0px 10px;
}

